body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--Primary-100, #232548);

    color: #333;
}

.tituluaa {
    font-weight: 400;
    font-size: 42px;
    line-height: 40px;
    letter-spacing: 0%;
    margin: 0;
}

.container-pago {
    display: flex;
    justify-content: space-between;
    align-items: start;
    align-self: center;

    padding: 20px;
    gap: 20px;
    width: 90%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    width: 90%;
    height: 100%;
    min-height: 40px;
    color: #fff;
    margin-bottom: 40px;
}

#card-element {
    width: 100%;
    height: 100%;
    padding: 15px;
    background: #353865;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;

}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 12px;

    width: 47%;
    height: 330px;

    background: #353865;
    border-radius: 24px;

}

.formulario p {
    color: var(--Neutral-neutral-10, #F3F6FD);
    font-family: Lato;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;

}

.formulario .input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 98%;
    height: 67px;

}

.btn2 {
    background: linear-gradient(163.71deg, #D9D9D9 12.16%, rgba(217, 217, 217, 0.4) 90.03%);
    width: 288px;
}

.btn2 p {
    color: #0D1041;
    font-family: Lato;
    font-weight: 500;
    font-size: 23.65px;
    line-height: 23.65px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
}

#error {
    display: none;
    color: red;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0%;
    margin: 0;
}


.resumen {
    display: flex;
    flex-direction: column;
    align-self: start;
    padding: 24px;
    gap: 28px;
    width: 47%;
    height: 330px;

    background: #353865;
    border-radius: 24px;

}

.resumen img {
    width: 120px;
}

.resumen .container {
    width: 100%;
}

.resumen .container div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.resumen .container div p {
    color: var(--Neutral-neutral-10, #F3F6FD);
    font-family: Lato;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
}

@media(max-width: 1005px) {
    .container-pago {
        width: 90%;
        flex-direction: column;
        margin-top: 100px;
    }

    .formulario,
    .resumen {
        width: 95%;
    }

    .formulario {
        margin-bottom: 20px;
    }
}

@media(max-width: 750px) {
    .container-pago {
        width: 85%;
    }
}

@media(max-width: 650px) {
    .btn2 {
        width: 200px;
    }

    .btn2 p {
        font-size: 18px;
    }
}

@media(max-width: 500px) {
    .container-pago {
        width: 80%;
        margin-left: -5px;
    }

}

@media(max-width: 364px) {
    .btn2{
        width: 170px;
    }

    .btn2 p {
        font-size: 16px;
    }
}